<section>
    <mat-card-title>Sign up</mat-card-title>
          <mat-card-subtitle>
              <mat-form-field appearance="fill"  class="d-inline p-2">
                <mat-label>Uersname</mat-label>
                <input matInput type="text">
              </mat-form-field>
              <mat-form-field appearance="fill"  class="d-inline p-2">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password">
              </mat-form-field>
          </mat-card-subtitle>
          <mat-card-actions align="end">
            <button mat-raised-button color="primary">
              Connexion
            </button>
          </mat-card-actions>
          <a href="#">Mot de passe oublier?</a> / <a href="#">Sign in</a>
    <!-- <mat-card-title>Sign in</mat-card-title>
          <mat-card-subtitle>
              <mat-form-field appearance="fill"  class="d-inline p-2">
                <mat-label>Uersname</mat-label>
                <input matInput type="text">
              </mat-form-field>
              <mat-form-field appearance="fill"  class="d-inline p-2">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password">
              </mat-form-field>
              <mat-form-field appearance="fill"  class="d-inline p-2">
                <mat-label>Confirme</mat-label>
                <input matInput type="password">
              </mat-form-field>
          </mat-card-subtitle>
          <mat-card-actions align="end">
            <button mat-raised-button color="primary">
              Connexion
            </button>
    </mat-card-actions> -->

    <!-- <mat-card-title>Mot de passe oublier</mat-card-title>
          <mat-card-subtitle>
              <mat-form-field appearance="fill"  class="d-inline p-2">
                <mat-label>Uersname</mat-label>
                <input matInput type="text">
              </mat-form-field>
              <mat-form-field appearance="fill"  class="d-inline p-2">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password">
              </mat-form-field>
              <mat-form-field appearance="fill"  class="d-inline p-2">
                <mat-label>Confirme</mat-label>
                <input matInput type="password">
              </mat-form-field>
          </mat-card-subtitle>
          <mat-card-actions align="end">
            <button mat-raised-button color="primary">
              Connexion
            </button>
    </mat-card-actions> -->

</section>