  <mat-card-title>{{title}}</mat-card-title>
          <div *ngIf="message" class="alert alert-danger" role="alert">
            {{message}}
          </div>
          <mat-card-subtitle>
              <mat-form-field appearance="fill"  class="d-inline p-2">
                <mat-label>Nom</mat-label>
                <input matInput type="text" [(ngModel)]="categorie.nom_categorie">
              </mat-form-field>
          </mat-card-subtitle>
          <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="onClosse()">
              <mat-icon>❌</mat-icon>
            </button>
            <button *ngIf="!categorie.id" mat-raised-button color="primary" (click)="saveCategorie()">
              <mat-icon>save</mat-icon>
            </button>
            <button *ngIf="categorie.id" mat-raised-button color="primary" (click)="updateCategorie()">
              <mat-icon>save</mat-icon>
            </button>
          </mat-card-actions>
