<!-- <nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fixed top</a>
  </div>
</nav>

 -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand">GESTION STOCK</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/produites">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categories">Categorie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/historiques">Historique</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/statistiques">Statistique</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<body class="m-5 pt-3">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
